<div class="block">
  <i class="icon-chevron-left hide_button"></i>
  <div class="content">
           a sdjalsdj asjdklj asdas d
    as das
    d asd <br>
    asda sda sas <hr>
    asdasd
    as
    asd
    <asd></asd>
  </div>
</div>