<div class="block">
  <div class="tasks_content">
    <%= render 'tasks/new' %>
    <%= render 'tasks/new' %>
    <%= render 'tasks/new' %>
  </div>
  <div class="clr"></div>
  <%= link_to 'New Task','http://www.google.kg', class: 'btn btn-primary btn-small' %>
</div>