<div class="block">
  <div class="tasks_content">
    <% @ticket.tasks.sort_by{|i| i.created_at}.each do |task| %>
        <%= render 'tasks/new', task: task %>
    <% end %>
  </div>
  <div class="clr"></div>
  <%= link_to 'New Task', new_task_path, remote: true, class: 'btn btn-primary btn-small' %>
</div>