<legend>#<%= @ticket.id%></legend>

<label for="ticket_description">Description</label>
<blockquote id="ticket_description"><%= @ticket.name %></blockquote>

<label for="ticket_client">Client</label>
<blockquote id="ticket_client"><%= @ticket.client.name %></blockquote>
