// Place all the styles related to the Tickets controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


// ** HEADER **

#ticket{
  font-weight: bold;
  float: left;
  margin-right: 10px;
  padding-top: 10px;
  color: #444;
  font-size: 32px;
  &:hover{
    text-decoration: none;
  }
}

.ticket-description{
  line-height: 130%;
  padding-top: 6px;
  vertical-align: middle;
  font-size: 12px;
  text-overflow: ellipsis;
  float: left;
  width: 550px;
}

a.updown{
  float: right;
  position: absolute;
  top:7px;
  right: 5px;
}


.left_side{
  float: left;
  width: 350px;
}

.right_side{
  float: left;
  width: 480px;
}

/* Properties */
.property {
  padding-bottom:10px;
  label{
    font-weight: bold;
  }
}

.property_remove{
  display: inline-block;
  a{
    padding-top: 0;
  }
}
.property_names{
  text-align: right;
  display: inline-block;
  input{
    width: 100px;
    text-align: right;
    margin-bottom: 4px;
    height: 15px;
    &:last-of-type{
      margin-bottom:0;
    }
  }
}

.property_fields{
  text-align: left;
  display: inline-block;
  padding-left: 5px;
  border-left:1px solid #999;
  input{
    width:250px;
    text-align: left;
    margin-bottom: 4px;
    height: 15px;
    &:last-of-type{
      margin-bottom:0;
    }
  }
}

.legend_buttons{
  float: right;
}

div.block{
  overflow: hidden;
  padding: 5px;
  background-color: #f9f9f9;
  border-radius: 5px;
  border: 1px solid #bbb;
  margin: 3px;
  .hide_button{
    float:right;
    cursor: pointer;
  }
}

.clickable_row{
  cursor: pointer;
}

.ticket_content{
  .left{
    width: 40%;
    float: left;
  }
  .right{
    width: 60%;
    float: left;
  }
}