<footer class="footer">
  <small>
    Created by <a href="http://www.facebook.com/masterAlish/">Alisher Alikulov</a>
  </small>
  <nav>
    <ul>
      <li><a href="/about">About</a></li>
      <li><a href="/contact">Contact</a></li>
      <li><a href="/map">Map</a></li>
    </ul>
  </nav>
</footer>